* {
  margin: 0;
  padding: 0;
}
.body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.addBtn {
  background-color: lightgreen;
  font-family: inter;
  padding: 8px 10px;
  width: auto;
}
